$color1: #A3F06C;
$color2: #5DE100;
$color3: #20cb00;
$male-color: skyblue;
$female-color: pink;
$sidebar-width: 180px;
$main-border: 1px solid #e8e8e8;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    position: relative;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    background: #f6f6f6;
}

ul, ol {
    list-style: none;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.clearfix {
    &::after {
        content: ".";
        display: block;
        height: 0;
        font-size: 0;
        line-height: 0;
        clear: both;
        visibility: hidden;
    }
}

.container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
}

.male {
    color: $male-color;
}

.female {
    color: $female-color;
}

.b-female::before {
    color: $female-color;
}

.b-male::before {
    color: $male-color;
}

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

//header//

.header {
    background: $color2;
    box-shadow: 0 0 8px #444;
    flex-shrink: 0;
    z-index: 1000;
    color: #333;
}

.header__inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .left {

    }

    .right {

    }
}

.logo {

    a {
        vertical-align: middle;
        display: block;

        img {
            max-width: 130px;
            max-height: 35px;
            vertical-align: middle;
        }
    }
}

.menu-btn {
    height: 30px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    position: relative;

    &::before {
        content: "\e907";
        font-family: icomoon;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.user {
    cursor: pointer;
    position: relative;
}

.user-name {
    font-size: 16px;
    color: #fff;

    &::after {
        content: "\e909";
        font-family: icomoon;
        font-size: 15px;
    }
}

.user-list {
    position: absolute;
    top: 110%;
    right: 0;
    overflow: hidden;
    background: #FFF;
    padding: 4px 0px;
    border-radius: 3px;
    border: 1px solid #DDD;

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #333;
        padding: 8px 15px;
        display: block;

        &:hover {
            background: #EEE;
        }
    }
}

.none-height {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}

.auth-menu {
    display: flex;
    justify-content: right;

    .nav-item {
        padding-left: 15px;

        a {
            color: #fff;

            &:hover {
                color: #eee;
            }
        }
    }
}

//content//

.content {
}

.content__inner {
    height: 100%;
    overflow: hidden;
    display: flex;
    padding: 20px 0;
}

//aside//

.aside {
    height: 100%;
    width: $sidebar-width;
    flex-shrink: 0;
    overflow-y: hidden;
}


.aside__inner {
    height: 100%;

    .nav {

        li {
            a {
                display: block;
                padding: 10px;
                font-weight: 500;
                color: #444;

                &:hover {
                    color: #000;
                    font-size: 110%;
                }

                span {
                    vertical-align: middle;
                }
            }
        }
    }
}

.icon::before {
    font-family: 'icomoon';
    font-size: 24px;
    padding-right: 15px;
}

//main//

.main {
    height: 100%;
    width: 100%;
}

.main__inner {
    position: relative;
    min-height: 100%;
    padding-left: 15px;
}

.ratio {
    position: relative;
    height: 0;
    border: none;
}

.ratio__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

//overflow-v//

.overflow-v {
    overflow: visible !important;
}

//items

.items {
    margin: 0px auto;
    border: $main-border;
    border-radius: 5px;
    overflow: hidden;
}

.item__wrapper {
    position: relative;
}

.item__date {
    position: absolute;
    padding: 2px 10px;
    color: #999;
    font-size: 12px;
    top: -1px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background: #fff;
    border-radius: 5px;
    border-top: $main-border;
}

.item {
    position: relative;
}

.item-buttons {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 100px;
}

.ico-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    width: 30px;
    padding: 0;
    text-align: center;
    display: inline-block;

    &::before {
        font-family: icomoon;
    }

    &.edit-btn {
        &::before {
            content: "\e908";
        }
    }

    &.delete-btn {
        &::before {
            content: "\e9ac";
        }
    }

    &.caret-btn {
        &::before {
            content: "\e909";
        }
    }

    &.plus-btn {
        &::before {
            content: "\ea0a";
            color: #444;
            font-size: 18px;
        }
    }
}

.item__head {
    padding: 10px 15px;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    cursor: pointer;
}

.item__head-hovered {
    &:hover {
        .item__name {
            display: none;
        }

        .item__name-2 {
            display: block;
        }
    }
}

.item__name, .item__name-2 {
    max-width: 540px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item__name-2 {
    display: none;
}

.item__wrapper:first-child .item__head {
    border-top: none;
}

.item__body {
    display: none;
    padding: 10px 15px;
    background: #f9f9f9;
    box-shadow: inset 0 0 6px -3px #555;
}

.none-items {
    background: #fff;
    border-radius: 5px;
    text-align: center;
    color: #888;
    font-size: 16px;
    padding: 7px;
}

//txt-clip//

.txt-clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//left-center-form//

.left-form, .center-form, .small-form {

    .line {
        padding: 5px 0;

        &::after {
            content: "";
            display: block;
            height: 0;
            font-size: 0;
            line-height: 0;
            clear: both;
            visibility: hidden;
        }
    }

    .label {
        float: left;
        width: 120px;
        font-size: 13px;
        color: #999;
        min-height: 5px;
    }

    .labeled {
        overflow: hidden;
        font-size: 14px;
        color: #555;
        position: relative;
        text-overflow: ellipsis;
        max-width: 600px;
    }

    .checkbox-line {

        .label {

        }

        .labeled {
            font-size: 13px;
            color: #999;

            input {

            }

            label {
                display: inline;
                line-height: 20px;
                padding-top: 0;
                padding-left: 2px;
            }
        }
    }

    a {
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }
}

//left-form//

.left-form {
    .line {

    }

    .label {

    }
}

//center-form

.center-form {
    .line {
    }

    .label {
        width: 140px;
        text-align: right;
    }

    .labeled {
        padding-left: 8px;
    }
}

//small-form//

.small-form {
    .line + .line {
        border-top: $main-border;
    }

    .label {
        width: 70px;
        font-size: 12px;
    }

    .labeled {
        text-align: right;
        padding-left: 5px;
        color: #888;
        font-size: 13px;
    }
}

.ratio-4-3 {
    padding-top: 56%; /* 100% ширины делим на 4 и умножаем на 3 */
}

//items on rabbits page//

.rabbits-page {

    .items {
        border: none;
        //background: #fff;
    }

    .item__wrapper {
        float: left;
        width: 33.3%;
        padding: 10px;
        padding-bottom: 20px;
        position: relative;
    }

    .item {
        display: block;
        position: relative;
        overflow: hidden;

        &:hover {
            .item-filter {
                background: rgba(#000, 0.2);
            }

            .ico-info {
                opacity: 1;
            }
        }
    }

    .item-desc {
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        background: rgba(#000, 0.5);
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px;
        transform: translateX(-110%);
        font-size: 15px;
    }

    .item-desc-shown {
        transform: translateX(0);
    }

    .ico-info {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 25px;
        padding-top: 1px;
        vertical-align: middle;
        text-align: right;
        opacity: 0;
        color: #666;

        &::after {
            content: "\e90a";
            font-family: icomoon;
            font-size: 16px;
            vertical-align: middle;
            text-align: right;
        }

        &:hover {
            color: #000;
        }
    }

    .item__inner {
        color: #000;
        text-align: center;
        background-size: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: #ddd;
        background-image: url('../images/rabbit.svg');

        .item-filter {
            height: 100%;
            background: rgba(#000, 0);
            transition: background-color 0.3s;
            position: relative;

            .info {
                color: #fff;
                transition: color 0.3s;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 18px;

                .status, .birthday, .breed {
                    max-width: 190px;

                    &::before {
                        font-family: icomoon;
                        font-size: 12px;
                        margin-right: 5px;
                    }
                }


            }
        }
    }

    .h-gender {
        position: absolute;
        top: 0px;
        right: 4px;
    }

    .item__footer {
        padding: 3px 1px 5px 0;
        color: #333;
        font-size: 16px;
        position: relative;

        .name {
            max-width: 200px;
            padding-left: 3px;
            padding-right: 15px;
        }
    }

    .none-items {
        border: $main-border;
    }
}

// rabbit/{id}
.rabbit-container {
    display: flex;

    .item__name {
        max-width: 340px;
    }

    .left {
        max-width: 200px;
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .head {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        border-bottom: $main-border;
        padding-bottom: 5px;

        .name {
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .status {
            font-size: 13px;
            color: #999;
        }

        &.small-head {
            font-size: 14px;
            padding-bottom: 10px;
        }
    }

    .body {
        padding-top: 5px;
    }

    .body-form {
        display: none;

        .label {
            padding: 6px 0;
        }
    }

    .buttons {
        padding-left: 15px;
        white-space: nowrap;
        flex-grow: 1;
        text-align: right;

        button {
            cursor: pointer;
            padding: 3px 5px;
            font-size: 13px;
            height: 24px;
            max-width: 110px;
            width: 100%;
            vertical-align: middle;
        }
    }
}

.wrapper {
    padding: 10px;
    margin: 0 5px 10px 5px;
    border: $main-border;
    background: #FFF;
    border-radius: 5px;
}

.photo {
    position: relative;
    overflow: hidden;
    min-height: 70px;

    img {
        width: 100%
    }

    &:hover {
        .side-panel {
            transform: translateY(0);
        }
    }
}

.side-panel {
    position: absolute;
    background: rgba(#000, 0.4);
    color: #ddd;
    font-size: 13px;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 800;
    transform: translateY(110%);
    transition: transform 0.2s;

    * {
        padding: 5px 3px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color: #fff;
        }
    }
}

//settings//

.settings__wrapper {
    margin: 0 0 10px 0;

    .form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px 0 10px 0;
    }

    .head {
        font-size: 20px;
        border-bottom: $main-border;
        padding: 5px 10px 15px 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .input-label {
        padding-right: 60px;
    }
}

.theme-input {
    max-width: 300px;
    width: 100%;
    background: #fff;
    border-radius: 3px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theme-item__wrapper {
    padding: 5px;
    width: 48px;
    height: 48px;
}

.theme-item {
    background: #000;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.selected-theme {
    border: 2px solid #fff;
}

//add button//

.add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;

    button {
        border: none;
        background: $color2;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        box-shadow: 0 0 6px -2px #333;
        position: relative;
        cursor: pointer;

        &::after, &::before {
            content: "";
            display: block;
            width: 30px;
            height: 4px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
            border-radius: 40px;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(90deg);
        }

        &:hover {
            background: $color3;

            &::before, &::after {
                background: #eee;
            }
        }
    }
}

//modal-window//

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.4);
    z-index: 1000;
    display: none;
    overflow: hidden;
    padding: 10px;
}

.modal-window__inner {
    padding: 10px;
    height: 100%;
    overflow: hidden;
}

.delete-form-buttons {
    padding-top: 25px;
    margin-bottom: -10px;
    text-align: right;

    input {
        max-width: 120px;
        width: 100%;
        margin-right: 3px;
    }
}

.close-button {
    position: absolute;
    top: 15px;
    right: 12px;
    cursor: pointer;
    width: 30px;
    height: 30px;

    &::after, &::before {
        content: "";
        display: block;
        width: 24px;
        height: 2px;
        background: #999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        border-radius: 40px;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover {
        &::after, &::before {
            background: #444;
        }
    }
}


.form__wrapper {
    background: #fff;
    max-width: 540px;
    margin: 30px auto;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: $main-border;
}

.form {
    .head {
        font-size: 20px;
        border-bottom: $main-border;
        padding: 20px 40px 15px 20px;
        background: #FAFBFC;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .body {
        padding: 5px 15px 25px 15px;
    }

    .edit-photo-body {
        padding-top: 10px;

        .input-label {
            margin-bottom: 5px;
        }
    }

    .label {
        padding: 6px 0;
    }
}

.form-link {
    padding-top: 0 !important;
    margin-top: -3px;

    a {
        color: #555;
        font-size: 12px;
    }
}

input, select, textarea, option, button, .input-label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 30px;
    padding: 5px 9px 5px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
    color: #000;
    background: #fff;
    max-width: 300px;
    width: 100%;

    &::placeholder {
        color: #aaa;
    }

    &[type="submit"], &[type="button"] {
        background: $color1;
        border: none;
        cursor: pointer;
        color: #FFF;
    }

    &[type="checkbox"] {
        text-align: left;
        width: 20px;
        height: 20px;
    }
}

label {
    display: inline-block;
    padding-top: 2px;
    padding-left: 4px;
    vertical-align: top;
}

.input-label {
    position: relative;

    .item-buttons {
        font-size: 0;
        right: 0;
        width: auto;
    }

    .ico-btn {
        font-size: 14px;
        height: 100%;
        width: 30px;
        border-left: 1px solid #d3d9de;
    }
}

.text-center {
    text-align: center;
}

button {
    border: none;
    cursor: pointer;
    color: #FFF;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
}

[disabled] {
    color: #aaa;
}

//show//

.show {
    display: block;
}

//alerts//

.alerts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1100;
}

.alert {
    background: #FFF;
    box-shadow: 0 0 4px -2px #999;
    border: 1px solid transparent;
    color: #333;
    font-size: 13px;
    max-width: 300px;
    padding: 12px 20px 12px 15px;
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
}

.alert-close-button {
    border: none;
    background: none;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 20px;
    height: 20px;
    padding: 0;

    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        height: 1.5px;
        width: 10px;
        left: 50%;
        top: 50%;
        background: #444;
        border-radius: 50px;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        &::before, &::after {
            background: #000;
        }
    }
}

.alert-full {
    max-width: 100%;
    width: 100%;
}

.alert-error {
    color: #871f28;
    background-color: #f8d7da;
    border-color: #f5c6cb;

    .alert-close-button {
        &::before, &::after {
            background: #871f28;
        }

        &:hover {
            &::before, &::after {
                background: darkred;
            }
        }
    }
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.underline {
    text-decoration: underline;
}

.verify-text {
    font-size: 14px;

    a {
        font-size: 14px;
    }
}

//pt-20//

.pt-20 {
    padding-top: 20px !important;
}

//mw-270//

.mw-270 {
    max-width: 270px !important;
}

//items-top//

.items-top {
    margin-bottom: 10px;
    display: flex;
}

//filter//

.filter {
    width: 45%;
    border-radius: 5px;
    //border: $main-border;
    //background: #fff;
    //padding: 10px;

    input, select, textarea, option, button, .input-label {
        max-width: 100%;
    }
}

.filter__inner {
    display: flex;
}

.filter-field {
    flex-grow: 1;
    display: flex;
}

.filter-field + .filter-field {
    padding-left: 40px;
}

.filter-label {
    padding: 6px 5px;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
}

.filter-labeled {
    flex-grow: 1;
}

//pagination//

.pagination__wrapper {
    width: 55%;
    padding-left: 10px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.side-pagination-buttons {
    display: flex;
}

.left-pagination-buttons {
    .page-button:first-child {
        margin-left: 0;
    }
}

.right-pagination-buttons {
    .page-button:last-child {
        margin-right: 0;
    }
}

.middle-pagination-buttons {
    display: flex;
}

.page-button {
    padding: 0 1px;

    a {
        display: block;
        border: $main-border;
        border-radius: 3px;
        background: #fff;
        padding: 6px 10px;
        font-size: 14px;
        color: #444;

        &:hover {
            border-color: #d2d2d2;
        }
    }

    &-0, &.disabled {

        a {
            background: #f6f6f6;
            cursor: default;

            &:hover {
                border-color: #e8e8e8;
            }
        }
    }
}

//scroll//

.scrollbar-macosx > .scroll-element .scroll-bar {
    background-color: #85878a;
}

//media//

@media screen and (max-width: 920px) {
    .rabbit-container {
        display: block;

        .left {
            display: flex;
            max-width: 100%;

            .photo__wrapper {
                max-width: 200px;
                width: 100%;
                flex-shrink: 0;
            }

            .some-info__wrapper {
                flex-grow: 1;
            }
        }
    }
}

@media screen and (max-width: 890px) {
    .item__name, .item__name-2 {
        max-width: 330px;
    }
}

@media screen and (max-width: 720px) {

}

@media screen and (max-width: 680px) {
    //TODO: hide side nav panel and show the burger button in header that will be show side nav panel
}
