@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

body {
  position: relative;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden; }

ul, ol {
  list-style: none; }

a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #000; }

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%; }

.header {
  height: 50px;
  background: #5DE100;
  box-shadow: 0 0 8px #444;
  flex-shrink: 0;
  z-index: 1000; }

.content {
  height: 100%;
  overflow: hidden;
  display: flex; }

.aside {
  height: 100%;
  width: 240px;
  background: #A3F06C;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

.aside__header {
  height: 50px;
  background: #5DE100;
  flex-shrink: 0; }

.aside__inner {
  height: 100%; }
  .aside__inner .nav {
    padding: 10px 0 85px; }
    .aside__inner .nav li a {
      display: block;
      padding: 10px 24px;
      font-weight: 500; }
      .aside__inner .nav li a:hover {
        background: #87F03C; }
      .aside__inner .nav li a span {
        vertical-align: middle; }

.icon::before {
  font-family: 'icomoon';
  font-size: 24px;
  padding-right: 24px; }

.main {
  margin-left: 240px;
  height: 100%;
  padding-bottom: 70px;
  width: 100%; }

.main__inner {
  position: relative;
  min-height: 100%; }

.ratio {
  position: relative;
  height: 0;
  border: none; }

.ratio__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ratio-4-3 {
  padding-top: 56%;
  /* 100% ширины делим на 4 и умножаем на 3 */ }

.items {
  padding: 10px;
  padding-bottom: 30px; }

.item__wrapper {
  float: left;
  width: 24.9%;
  padding: 10px;
  position: relative; }

.item {
  display: block;
  box-shadow: 0 0 6px -1px #888;
  position: relative;
  overflow: hidden; }
  .item:hover .item-filter {
    background: rgba(0, 0, 0, 0.2); }

.item-desc {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 10px;
  transform: translateX(-110%); }

.item-desc-shown {
  transform: translateX(0); }

.ico-info {
  cursor: pointer; }
  .ico-info::before {
    content: "\ea0c";
    font-family: icomoon;
    color: rgba(32, 203, 0, 0.8);
    vertical-align: middle;
    font-size: 18px; }
  .ico-info:hover::before {
    color: rgba(32, 203, 0, 0.5); }

.item__inner {
  color: #000;
  text-align: center;
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .item__inner-rabbit {
    background-image: url("../images/rabbit.svg"); }
  .item__inner-cage {
    background-image: url("../images/bird-cage.svg"); }
  .item__inner-breed {
    background-image: url("../images/pawprint.svg"); }
  .item__inner .item-filter {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    position: relative; }
    .item__inner .item-filter .info {
      color: #EEE;
      transition: color 0.3s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px; }
    .item__inner .item-filter .breed-info, .item__inner .item-filter .cage-info {
      font-size: 16px; }
      .item__inner .item-filter .breed-info span, .item__inner .item-filter .cage-info span {
        letter-spacing: 0.1px; }

.male {
  color: skyblue; }

.female {
  color: pink; }

.item__footer {
  padding: 10px;
  color: #EEE;
  background: #87F03C;
  font-weight: 700;
  height: 40px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header.full, .main.full {
  margin-left: 40px; }

.header, .main, .aside {
  transition: all 0.2s ease; }

.rabbit-container {
  display: flex;
  padding: 5px 10px;
  background: #eff0f2;
  height: 100%; }
  .rabbit-container .left {
    max-width: 300px;
    width: 100%; }
  .rabbit-container .right {
    width: 100%; }
  .rabbit-container .head {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 5px; }
    .rabbit-container .head .status {
      font-size: 13px;
      color: #999; }
  .rabbit-container .body {
    padding-top: 5px; }
  .rabbit-container .body-form {
    display: none; }
    .rabbit-container .body-form .label {
      padding: 5px 0; }
  .rabbit-container .buttons {
    padding-left: 15px;
    white-space: nowrap;
    flex-grow: 1;
    text-align: right; }
    .rabbit-container .buttons button {
      cursor: pointer;
      padding: 3px 5px;
      font-size: 13px;
      height: 24px;
      max-width: 110px;
      width: 100%;
      vertical-align: middle; }
  .rabbit-container .body-info .line {
    padding: 0; }

.wrapper {
  padding: 10px;
  margin: 10px 5px;
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 0 0 5px -4px #000; }

.photo {
  position: relative;
  overflow: hidden; }
  .photo img {
    width: 100%; }
  .photo:hover .side-panel {
    transform: translateY(0); }

.side-panel {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #ddd;
  font-size: 13px;
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 800;
  transform: translateY(110%);
  transition: transform 0.2s; }
  .side-panel * {
    padding: 5px 3px;
    cursor: pointer; }
    .side-panel *:hover {
      text-decoration: underline;
      color: #fff; }

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden; }

.line {
  padding: 5px 0; }

.label {
  float: left;
  width: 120px;
  font-size: 14px;
  color: #888;
  padding: 5px 0; }

.labeled {
  overflow: hidden;
  font-size: 14px;
  color: #555; }

.labeled__inner {
  padding: 5px 0; }

.add-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999; }
  .add-button button {
    border: none;
    background: #5DE100;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 0 0 6px -2px #333;
    position: relative;
    cursor: pointer; }
    .add-button button::after, .add-button button::before {
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      border-radius: 40px; }
    .add-button button::before {
      transform: translate(-50%, -50%) rotate(90deg); }
    .add-button button:hover {
      background: #20cb00; }
      .add-button button:hover::before, .add-button button:hover::after {
        background: #eee; }

.modal-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  padding: 10px;
  display: none; }

.delete-modal .form .body {
  padding: 10px 0 3px; }
  .delete-modal .form .body .buttons {
    padding-top: 10px;
    text-align: right; }
    .delete-modal .form .body .buttons input {
      max-width: 120px;
      width: 100%;
      margin-right: 3px; }

.close-button {
  position: absolute;
  top: 15px;
  right: 12px;
  cursor: pointer;
  width: 30px;
  height: 30px; }
  .close-button::after, .close-button::before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 40px; }
  .close-button::before {
    transform: translate(-50%, -50%) rotate(45deg); }
  .close-button:hover::after, .close-button:hover::before {
    background: #444; }

.form__wrapper {
  background: #fff;
  padding: 15px;
  max-width: 540px;
  margin: 40px auto;
  border-radius: 3px;
  position: relative; }

.form .head {
  font-size: 20px;
  border-bottom: 1px solid #EEE;
  padding: 5px 5px 15px;
  background: #FAFBFC; }
.form .body {
  padding-top: 5px;
  padding-bottom: 24px; }
.form .label {
  max-width: 160px;
  width: 100%;
  text-align: right;
  padding: 5px 9px 5px; }

input, select, textarea, option, button, .input-label {
  height: 30px;
  padding: 5px 9px 5px;
  border-radius: 3px;
  border: 1px solid #d3d9de;
  color: #000;
  background: #fff;
  font-size: 14px;
  max-width: 300px;
  width: 100%; }
  input[type="submit"], input[type="button"], select[type="submit"], select[type="button"], textarea[type="submit"], textarea[type="button"], option[type="submit"], option[type="button"], button[type="submit"], button[type="button"], .input-label[type="submit"], .input-label[type="button"] {
    background: #A3F06C;
    border: none;
    cursor: pointer;
    color: #FFF; }

.input-label {
  display: block; }

button {
  background: #A3F06C;
  border: none;
  cursor: pointer;
  color: #FFF; }

textarea {
  width: 100%;
  min-height: 100px;
  resize: none; }

.errors {
  font-size: 13px;
  color: red; }

.show {
  display: block; }

/*# sourceMappingURL=main.css.map */
