@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

body {
  position: relative;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  background: #f6f6f6; }

ul, ol {
  list-style: none; }

a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #000; }

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden; }

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px; }

.male {
  color: skyblue; }

.female {
  color: pink; }

.b-female::before {
  color: pink; }

.b-male::before {
  color: skyblue; }

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%; }

.header {
  background: #5DE100;
  box-shadow: 0 0 8px #444;
  flex-shrink: 0;
  z-index: 1000;
  color: #333; }

.header__inner {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.logo a {
  vertical-align: middle;
  display: block; }
  .logo a img {
    max-width: 130px;
    max-height: 35px;
    vertical-align: middle; }

.menu-btn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  text-align: center;
  position: relative; }
  .menu-btn::before {
    content: "\e907";
    font-family: icomoon;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.user {
  cursor: pointer;
  position: relative; }

.user-name {
  font-size: 16px;
  color: #333; }
  .user-name::after {
    content: "\e909";
    font-family: icomoon;
    font-size: 15px; }

.user-list {
  position: absolute;
  top: 110%;
  right: 0;
  overflow: hidden;
  background: #FFF;
  padding: 4px 0px;
  border-radius: 3px;
  border: 1px solid #DDD; }
  .user-list a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333;
    padding: 8px 15px;
    display: block; }
    .user-list a:hover {
      background: #EEE; }

.none-height {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none; }

.auth-menu {
  display: flex;
  justify-content: right; }
  .auth-menu .nav-item {
    padding-left: 15px; }
    .auth-menu .nav-item a {
      color: #fff; }
      .auth-menu .nav-item a:hover {
        color: #eee; }

.content__inner {
  height: 100%;
  overflow: hidden;
  display: flex;
  padding: 20px 0; }

.aside {
  height: 100%;
  width: 180px;
  flex-shrink: 0;
  overflow-y: hidden; }

.aside__inner {
  height: 100%; }
  .aside__inner .nav li a {
    display: block;
    padding: 10px;
    font-weight: 500;
    color: #444; }
    .aside__inner .nav li a:hover {
      color: #000;
      font-size: 110%; }
    .aside__inner .nav li a span {
      vertical-align: middle; }

.icon::before {
  font-family: 'icomoon';
  font-size: 24px;
  padding-right: 15px; }

.main {
  height: 100%;
  width: 100%; }

.main__inner {
  position: relative;
  min-height: 100%;
  padding-left: 15px; }

.ratio {
  position: relative;
  height: 0;
  border: none; }

.ratio__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.overflow-v {
  overflow: visible !important; }

.items {
  margin: 0px auto;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden; }

.item__wrapper {
  position: relative; }

.item__date {
  position: absolute;
  padding: 2px 10px;
  color: #999;
  font-size: 12px;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background: #fff;
  border-radius: 5px;
  border-top: 1px solid #eee; }

.item {
  position: relative; }

.item-buttons {
  position: absolute;
  top: 6px;
  right: 15px;
  width: 100px; }

.ico-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  width: 30px;
  padding: 0;
  text-align: center;
  display: inline-block; }
  .ico-btn::before {
    font-family: icomoon; }
  .ico-btn.edit-btn::before {
    content: "\e908"; }
  .ico-btn.delete-btn::before {
    content: "\e9ac"; }
  .ico-btn.caret-btn::before {
    content: "\e909"; }
  .ico-btn.plus-btn::before {
    content: "\ea0a";
    color: #444;
    font-size: 18px; }

.item__head {
  padding: 10px 15px;
  background: #fff;
  border-top: 1px solid #f1f1f1;
  cursor: pointer; }

.item__head-hovered:hover .item__name {
  display: none; }
.item__head-hovered:hover .item__name-2 {
  display: block; }

.item__name, .item__name-2 {
  max-width: 540px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.item__name-2 {
  display: none; }

.item__wrapper:first-child .item__head {
  border-top: none; }

.item__body {
  display: none;
  padding: 10px 15px;
  background: #f9f9f9;
  box-shadow: inset 0 0 6px -3px #555; }

.txt-clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.left-form .line, .center-form .line, .small-form .line {
  padding: 5px 0; }
  .left-form .line::after, .center-form .line::after, .small-form .line::after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden; }
.left-form .label, .center-form .label, .small-form .label {
  float: left;
  width: 120px;
  font-size: 13px;
  color: #999;
  min-height: 5px; }
.left-form .labeled, .center-form .labeled, .small-form .labeled {
  overflow: hidden;
  font-size: 14px;
  color: #555;
  position: relative; }
.left-form a, .center-form a, .small-form a {
  font-size: 14px; }
  .left-form a:hover, .center-form a:hover, .small-form a:hover {
    text-decoration: underline; }

.center-form .label {
  width: 140px;
  text-align: right; }
.center-form .labeled {
  padding-left: 8px; }

.small-form .line + .line {
  border-top: 1px solid #eee; }
.small-form .label {
  width: 70px;
  font-size: 12px; }
.small-form .labeled {
  text-align: right;
  padding-left: 5px;
  color: #888;
  font-size: 13px; }

.ratio-4-3 {
  padding-top: 56%;
  /* 100% ширины делим на 4 и умножаем на 3 */ }

.rabbits-page .items {
  border: none; }
.rabbits-page .item__wrapper {
  float: left;
  width: 33.3%;
  padding: 10px;
  padding-bottom: 20px;
  position: relative; }
.rabbits-page .item {
  display: block;
  position: relative;
  overflow: hidden; }
  .rabbits-page .item:hover .item-filter {
    background: rgba(0, 0, 0, 0.2); }
  .rabbits-page .item:hover .ico-info {
    opacity: 1; }
.rabbits-page .item-desc {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 10px;
  transform: translateX(-110%);
  font-size: 15px; }
.rabbits-page .item-desc-shown {
  transform: translateX(0); }
.rabbits-page .ico-info {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 25px;
  padding-top: 3px;
  padding-right: 2px;
  vertical-align: middle;
  text-align: right;
  opacity: 0;
  color: #666; }
  .rabbits-page .ico-info::after {
    content: "\e90a";
    font-family: icomoon;
    font-size: 16px;
    vertical-align: middle;
    text-align: right; }
  .rabbits-page .ico-info:hover {
    color: #000; }
.rabbits-page .item__inner {
  color: #000;
  text-align: center;
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ddd;
  background-image: url("../images/rabbit.svg"); }
  .rabbits-page .item__inner .item-filter {
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
    position: relative; }
    .rabbits-page .item__inner .item-filter .info {
      color: #fff;
      transition: color 0.3s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px; }
      .rabbits-page .item__inner .item-filter .info .status, .rabbits-page .item__inner .item-filter .info .birthday, .rabbits-page .item__inner .item-filter .info .breed {
        max-width: 190px; }
        .rabbits-page .item__inner .item-filter .info .status::before, .rabbits-page .item__inner .item-filter .info .birthday::before, .rabbits-page .item__inner .item-filter .info .breed::before {
          font-family: icomoon;
          font-size: 12px;
          margin-right: 5px; }
.rabbits-page .h-gender {
  position: absolute;
  top: 0px;
  right: 4px; }
.rabbits-page .item__footer {
  padding: 5px 1px 5px 0;
  color: #333;
  font-size: 16px;
  position: relative; }
  .rabbits-page .item__footer .name {
    max-width: 200px; }

.rabbit-container {
  display: flex; }
  .rabbit-container .item__name {
    max-width: 340px; }
  .rabbit-container .left {
    max-width: 200px;
    width: 100%; }
  .rabbit-container .right {
    width: 100%; }
  .rabbit-container .head {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 5px; }
    .rabbit-container .head .name {
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .rabbit-container .head .status {
      font-size: 13px;
      color: #999; }
  .rabbit-container .body {
    padding-top: 5px; }
  .rabbit-container .body-form {
    display: none; }
    .rabbit-container .body-form .label {
      padding: 6px 0; }
  .rabbit-container .buttons {
    padding-left: 15px;
    white-space: nowrap;
    flex-grow: 1;
    text-align: right; }
    .rabbit-container .buttons button {
      cursor: pointer;
      padding: 3px 5px;
      font-size: 13px;
      height: 24px;
      max-width: 110px;
      width: 100%;
      vertical-align: middle; }

.wrapper {
  padding: 10px;
  margin: 0 5px 10px 5px;
  border: 1px solid #EEE;
  background: #FFF;
  border-radius: 5px; }

.photo {
  position: relative;
  overflow: hidden;
  min-height: 70px; }
  .photo img {
    width: 100%; }
  .photo:hover .side-panel {
    transform: translateY(0); }

.side-panel {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #ddd;
  font-size: 13px;
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 800;
  transform: translateY(110%);
  transition: transform 0.2s; }
  .side-panel * {
    padding: 5px 3px;
    cursor: pointer; }
    .side-panel *:hover {
      text-decoration: underline;
      color: #fff; }

.add-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999; }
  .add-button button {
    border: none;
    background: #5DE100;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 0 0 6px -2px #333;
    position: relative;
    cursor: pointer; }
    .add-button button::after, .add-button button::before {
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      border-radius: 40px; }
    .add-button button::before {
      transform: translate(-50%, -50%) rotate(90deg); }
    .add-button button:hover {
      background: #20cb00; }
      .add-button button:hover::before, .add-button button:hover::after {
        background: #eee; }

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
  overflow: hidden;
  padding: 10px; }

.modal-window__inner {
  padding: 10px;
  height: 100%;
  overflow: hidden; }

.delete-form-buttons {
  padding-top: 25px;
  margin-bottom: -10px;
  text-align: right; }
  .delete-form-buttons input {
    max-width: 120px;
    width: 100%;
    margin-right: 3px; }

.close-button {
  position: absolute;
  top: 15px;
  right: 12px;
  cursor: pointer;
  width: 30px;
  height: 30px; }
  .close-button::after, .close-button::before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 40px; }
  .close-button::before {
    transform: translate(-50%, -50%) rotate(45deg); }
  .close-button:hover::after, .close-button:hover::before {
    background: #444; }

.form__wrapper {
  background: #fff;
  max-width: 540px;
  margin: 30px auto;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  border: 1px solid #eee; }

.form .head {
  font-size: 20px;
  border-bottom: 1px solid #EEE;
  padding: 20px 40px 15px 20px;
  background: #FAFBFC;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
.form .body {
  padding: 5px 15px 25px 15px; }
.form .edit-photo-body {
  padding-top: 10px; }
  .form .edit-photo-body .input-label {
    margin-bottom: 5px; }
.form .label {
  padding: 6px 0; }

.form-link {
  padding-top: 0 !important;
  margin-top: -3px; }
  .form-link a {
    color: #555;
    font-size: 12px; }

input, select, textarea, option, button, .input-label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 30px;
  padding: 5px 9px 5px;
  border-radius: 3px;
  border: 1px solid #d3d9de;
  color: #000;
  background: #fff;
  max-width: 300px;
  width: 100%; }
  input::placeholder, select::placeholder, textarea::placeholder, option::placeholder, button::placeholder, .input-label::placeholder {
    color: #aaa; }
  input[type="submit"], input[type="button"], select[type="submit"], select[type="button"], textarea[type="submit"], textarea[type="button"], option[type="submit"], option[type="button"], button[type="submit"], button[type="button"], .input-label[type="submit"], .input-label[type="button"] {
    background: #A3F06C;
    border: none;
    cursor: pointer;
    color: #FFF; }
  input[type="checkbox"], select[type="checkbox"], textarea[type="checkbox"], option[type="checkbox"], button[type="checkbox"], .input-label[type="checkbox"] {
    text-align: left;
    width: 20px;
    height: 20px; }

label {
  display: inline-block;
  padding-top: 2px;
  padding-left: 4px;
  vertical-align: top; }

.text-center {
  text-align: center; }

.input-label {
  display: inline-block;
  text-align: center; }

button {
  background: #A3F06C;
  border: none;
  cursor: pointer;
  color: #FFF; }

textarea {
  width: 100%;
  min-height: 100px;
  resize: none; }

[disabled] {
  color: #aaa; }

.show {
  display: block; }

.alerts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1100; }

.alert {
  background: #FFF;
  box-shadow: 0 0 4px -2px #999;
  border: 1px solid transparent;
  color: #333;
  font-size: 13px;
  max-width: 300px;
  padding: 12px 20px 12px 15px;
  position: relative;
  border-radius: 5px;
  margin-top: 10px; }

.alert-close-button {
  border: none;
  background: none;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  padding: 0; }
  .alert-close-button:before, .alert-close-button:after {
    content: "";
    display: block;
    position: absolute;
    height: 1.5px;
    width: 10px;
    left: 50%;
    top: 50%;
    background: #444;
    border-radius: 50px; }
  .alert-close-button::before {
    transform: translate(-50%, -50%) rotate(45deg); }
  .alert-close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .alert-close-button:hover::before, .alert-close-button:hover::after {
    background: #000; }

.alert-full {
  max-width: 100%;
  width: 100%; }

.alert-error {
  color: #871f28;
  background-color: #f8d7da;
  border-color: #f5c6cb; }
  .alert-error .alert-close-button::before, .alert-error .alert-close-button::after {
    background: #871f28; }
  .alert-error .alert-close-button:hover::before, .alert-error .alert-close-button:hover::after {
    background: darkred; }

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb; }

.underline {
  text-decoration: underline; }

.verify-text {
  font-size: 14px; }
  .verify-text a {
    font-size: 14px; }

.pt-20 {
  padding-top: 20px !important; }

.mw-270 {
  max-width: 270px !important; }

/*# sourceMappingURL=main.css.map */
