$color1: #FFA240;
$color2: #FF8300;
$color3: #ff6f00;
$color4: #ff9a22;

.header {
    background: $color2;
}

.add-button {
    button {
        background: $color2;

        &:hover {
            background: $color3;
        }
    }
}

input, select, textarea, option, button, .input-label {
    &[type="submit"], &[type="button"] {
        background: $color1;

        &:hover {
            background: $color4;
        }
    }
}

.icon {
    .notify_counter {
        background: $color4;
    }
}

.item__date {
    &.today {
        color: $color2;
    }
}
